# CONFIGURABLE PARAMETERS FOR BASH ENV1 EXECUTION


# -- Section 1: Parametrized String Variables --

# Simple string variables for the env1.sh execution

# path to my-python-boilerplate app directory
APPLICATION_PATH=/home/<USERNAME>/Projects/my-python-boilerplate/app

# executable dependency path variables
PYTHON2_PATH=/home/<USERNAME>/Programs/anaconda2/envs/<My-Python-Boilerplate_PYTHON2_ENV>/bin/python


# -- Section 2: Array Declaration Variables --

# Array variables to orchestrate batch of env1 executions

# e.g. list of target users
TARGET_USER_RAW_STRINGS_ARRAY=("FIRSTNAME_1 LASTNAME_1" "FIRSTNAME_2 LASTNAME_2" "FIRSTNAME_N LASTNAME_N")

# e.g. with each user associated a same-indexed sentence length
DEFAULT_SENTENCE_LENGTHS_ARRAY=(10 50 100)
